In [7]:
import pandas as pd
from pandasql import sqldf
range_names = ["00 LJ vs BB 3Bet", "01 LJ vs BB Call", "02 LJ vs HJ 3Bet", "03 LJ vs CO 3Bet", "04 LJ vs BN 3Bet", "05 LJ vs SB 3Bet", "06 LJ vs HJ Call", "07 LJ vs CO Call", "08 LJ vs BN Call", "09 LJ vs SB Call", "10 HJ vs BB 3Bet", "11 HJ vs BB Call", "12 HJ vs CO 3Bet", "13 HJ vs BN 3Bet", "14 HJ vs SB 3Bet", "15 HJ vs CO Call", "16 HJ vs BN Call", "17 HJ vs SB Call", "18 CO vs BB 3Bet", "19 CO vs BB Call", "20 CO vs BN 3Bet", "21 CO vs SB 3Bet", "22 CO vs BN Call", "23 CO vs SB Call", "24 BN vs BB 3Bet", "25 BN vs BB Call", "26 BN vs SB 3Bet", "27 SB vs BB 3Bet", "28 SB vs BB Call", "29 BB 3Bet vs LJ", "30 BB Call vs LJ", "31 HJ 3Bet vs LJ", "32 CO 3Bet vs LJ", "33 BN 3Bet vs LJ", "34 SB 3Bet vs LJ", "35 HJ Call vs LJ", "36 CO Call vs LJ", "37 BN Call vs LJ", "38 SB Call vs LJ", "39 BB 3Bet vs HJ", "40 BB Call vs HJ", "41 CO 3Bet vs HJ", "42 BN 3Bet vs HJ", "43 SB 3Bet vs HJ", "44 CO Call vs HJ", "45 BN Call vs HJ", "46 SB Call vs HJ", "47 BB 3Bet vs CO", "48 BB Call vs CO", "49 BN 3Bet vs CO", "50 SB 3Bet vs CO", "51 BN Call vs CO", "52 SB Call vs CO", "53 BB 3Bet vs BN", "54 BB Call vs BN", "55 SB 3Bet vs BN", "56 BB 3Bet vs SB", "57 BB Call vs SB",]

In [57]:
name = range_names[33]
dfs = []
for i in range(460):
    try:
        dfs.append(pd.read_csv("../reports/{}/two-tone/{}.csv".format(name, str(i).zfill(3))).drop(["Unnamed: 0"], axis=1))
    except:
        pass
df = pd.concat(dfs, axis=0)
df.columns = ["_" + x for x in df.columns]
df["rank1"] = df["_flop"].apply(lambda x: x.replace("[","").replace("]","").split(",")[0]).astype(int)
name

'33 BN 3Bet vs LJ'

## Compare Two Values

In [58]:
sqldf("""
select AVG(abs(_15_profit - _16_profit)/_15_profit), count(*) from
(select _flop, 
      max(CASE WHEN _0b = 15 THEN _profit ELSE 0 END) AS _15_profit,
      max(CASE WHEN _0b = 16 THEN _profit ELSE 0 END) AS _16_profit            
from df 
group by 1
) x
where _15_profit > 0
and  _16_profit > 0
""", globals())

   AVG(abs(_15_profit - _16_profit)/_15_profit)  count(*)
0                                      0.000789        12

In [59]:
sqldf("""
select AVG(abs(_1_profit - _2_profit)/_1_profit), count(*) from
(select _flop, 
      max(CASE WHEN _0b = 1 THEN _profit ELSE 0 END) AS _1_profit,
      max(CASE WHEN _0b = 2 THEN _profit ELSE 0 END) AS _2_profit,
      max(rank1) AS rank1
from df 
group by 1
) x
where _2_profit > 0
""", globals())

   AVG(abs(_1_profit - _2_profit)/_1_profit)  count(*)
0                                   0.002638       202

In [60]:
sqldf("""
select AVG(abs(_1_profit - _16_profit)/_1_profit), count(*) from
(select _flop, 
      max(CASE WHEN _0b = 1 THEN _profit ELSE 0 END) AS _1_profit,
      max(CASE WHEN _0b = 16 THEN _profit ELSE 0 END) AS _16_profit            
from df 
group by 1
) x
where _16_profit > 0
""", globals())

   AVG(abs(_1_profit - _16_profit)/_1_profit)  count(*)
0                                     0.00822        71

In [61]:
sqldf("""
select AVG(abs(_1_profit - _8_profit)/_1_profit), count(*) from
(select _flop, 
      max(CASE WHEN _0b = 1 THEN _profit ELSE 0 END) AS _1_profit,
      max(CASE WHEN _0b = 8 THEN _profit ELSE 0 END) AS _8_profit            
from df 
group by 1
) x
where _8_profit > 0
""", globals())

   AVG(abs(_1_profit - _8_profit)/_1_profit)  count(*)
0                                   0.005109       116

In [62]:
sqldf("""
select AVG(abs(_1_profit - _10_profit)/_1_profit), count(*) from
(select _flop, 
      max(CASE WHEN _0b = 1 THEN _profit ELSE 0 END) AS _1_profit,
      max(CASE WHEN _0b = 10 THEN _profit ELSE 0 END) AS _10_profit            
from df 
group by 1
) x
where _10_profit > 0
""", globals())

   AVG(abs(_1_profit - _10_profit)/_1_profit)  count(*)
0                                    0.004856        95

## Max Profit

In [63]:
df2 = sqldf("""select * from df a
        INNER JOIN (select _flop AS flop, max(_profit) AS max_profit from df group by 1) b on
        b.flop = a._flop and a._profit = b.max_profit
       order by 1 desc"""
      ,globals())
df2.to_csv("../reports/condensed_results/{}.csv".format(name))
df2.sort_values(by="_profit", ascending=True).iloc[0:20]

,_flop,_board_type,_0b,_1b,_2b,_profit,rank1,flop,max_profit
270,"[13, 10, 9]",two-tone,2,2,2,-2.180953,13,"[13, 10, 9]",-2.180953
335,"[12, 10, 9]",two-tone,8,6,4,-1.601048,12,"[12, 10, 9]",-1.601048
280,"[12, 9, 8]",two-tone,16,11,8,-0.783013,12,"[12, 9, 8]",-0.783013
324,"[12, 12, 10]",two-tone,1,1,1,-0.681322,12,"[12, 12, 10]",-0.681322
315,"[12, 12, 9]",two-tone,3,2,2,-0.289369,12,"[12, 12, 9]",-0.289369
326,"[12, 11, 8]",two-tone,2,2,2,-0.284380,12,"[12, 11, 8]",-0.284380
336,"[12, 10, 8]",two-tone,3,2,2,-0.100861,12,"[12, 10, 8]",-0.100861
325,"[12, 11, 9]",two-tone,10,7,5,-0.015938,12,"[12, 11, 9]",-0.015938
337,"[12, 10, 7]",two-tone,1,1,1,-0.007002,12,"[12, 10, 7]",-0.007002
249,"[13, 12, 9]",two-tone,1,1,1,0.210376,13,"[13, 12, 9]",0.210376
338,"[12, 10, 6]",two-tone,15,10,7,0.361986,12,"[12, 10, 6]",0.361986
281,"[12, 9, 7]",two-tone,16,11,8,0.441145,12,"[12, 9, 7]",0.441145
343,"[12, 10, 10]",two-tone,2,2,2,0.482933,12,"[12, 10, 10]",0.482933
260,"[13, 11, 9]",two-tone,10,7,5,0.545453,13,"[13, 11, 9]",0.545453
323,"[12, 12, 11]",two-tone,16,11,8,0.594120,12,"[12, 12, 11]",0.594120
316,"[12, 12, 8]",two-tone,8,6,4,0.684110,12,"[12, 12, 8]",0.684110
327,"[12, 11, 7]",two-tone,1,1,1,0.766349,12,"[12, 11, 7]",0.766349
380,"[11, 11, 9]",two-tone,2,2,2,0.766517,11,"[11, 11, 9]",0.766517
389,"[11, 10, 9]",two-tone,10,7,5,0.809734,11,"[11, 10, 9]",0.809734
282,"[12, 9, 6]",two-tone,1,1,1,0.850110,12,"[12, 9, 6]",0.850110

In [5]:
df2.columns = ["_" + col for col in df2.columns]

In [6]:
sqldf("select _0b, _1b, _2b, count(*), max(_flop), min(_flop) from df2 group by 1,2,3 order by 4 desc" , globals())

    _0b  _1b  _2b  count(*)    max(_flop)    min(_flop)
0     1    1    1       229     [9, 9, 5]   [10, 10, 6]
1     2    2    2        46     [9, 8, 7]    [11, 9, 7]
2     1    0    0        37     [9, 9, 4]   [10, 10, 2]
3     1    0    1        24     [8, 8, 5]    [12, 8, 2]
4     1    1    2        14     [9, 7, 4]    [10, 8, 4]
5     1    2    1        12   [12, 11, 4]    [10, 9, 2]
6     8    6    4         8  [14, 14, 13]  [14, 11, 11]
7    16   10    6         8     [9, 9, 7]   [10, 10, 8]
8     3    2    2         7   [14, 13, 9]    [12, 9, 9]
9     8    6    3         6    [14, 9, 9]    [12, 7, 7]
10    1    2    2         5   [11, 10, 3]    [10, 8, 2]
11    3    2    3         5   [14, 13, 7]   [14, 12, 7]
12   10    6    4         5  [13, 13, 12]  [12, 10, 10]
13   16   11   10         5     [9, 9, 8]    [10, 7, 7]
14    4    3    1         4  [14, 10, 10]   [11, 11, 8]
15   16   11    8         4     [9, 9, 6]     [7, 6, 6]
16    8    6    7         3    [14, 9, 8]    [13, 9, 8]
17    2    3    2         2  [12, 12, 10]  [11, 11, 10]
18    3    1    0         2  [13, 10, 10]   [12, 12, 9]
19    4    3    2         2  [14, 14, 10]    [12, 8, 8]
20    5    4    3         2    [12, 6, 6]    [11, 5, 5]
21   10    6    3         2    [13, 9, 9]    [12, 5, 5]
22   16   11   12         2     [9, 6, 6]     [9, 5, 5]
23   16   14   13         2  [12, 12, 11]  [11, 10, 10]
24    2    1    0         1  [13, 13, 10]  [13, 13, 10]
25   10    6    7         1    [13, 9, 7]    [13, 9, 7]
26   10   11   10         1  [12, 11, 11]  [12, 11, 11]
27   13   14   10         1   [11, 11, 9]   [11, 11, 9]
28   16   11   11         1    [11, 7, 7]    [11, 7, 7]
29   16   14   10         1    [11, 9, 9]    [11, 9, 9]

In [7]:
df2[["_profit"]].plot()

/Users/petermyers/Desktop/Code/commons/venv/lib/python3.6/site-packages/matplotlib/legend.py:449: UserWarning: The handle <matplotlib.lines.Line2D object at 0x121362898> has a label of '_profit' which cannot be automatically added to the legend.
  'legend.'.format(handle, label))

In [8]:
df2.columns = ["_flop", "_board_type", "_0b", "_1b", "_2b", "profit", "temp", "temp2"]
df2.drop(["temp", "temp2"], axis=1, inplace=True)

In [9]:
df2["rank1"] = df2["_flop"].apply(lambda x: x.replace("[","").replace("]","").split(",")[0]).astype(int)
df2["rank2"] = df2["_flop"].apply(lambda x: x.replace("[","").replace("]","").split(",")[1]).astype(int)
df2["rank3"] = df2["_flop"].apply(lambda x: x.replace("[","").replace("]","").split(",")[2]).astype(int)

In [10]:
def val_difference_from_val(val1, val2):
    return val1 - val2

df2['range'] = df2[["rank1", "rank3"]].apply(lambda x: val_difference_from_val(*x), axis=1).astype(float)
df2['top_range'] = df2[["rank1", "rank2"]].apply(lambda x: val_difference_from_val(*x), axis=1).astype(float)
df2['bottom_range'] = df2[["rank2", "rank3"]].apply(lambda x: val_difference_from_val(*x), axis=1).astype(float)

In [11]:
df2.drop(["_flop"], axis=1, inplace=True)

In [12]:
df2.drop(["_board_type"], axis=1, inplace=True)

In [13]:
df2.drop(["profit"], axis=1, inplace=True)

In [14]:
df2["_0b"] = df2["_0b"].astype(str)
df2["_1b"] = df2["_1b"].astype(str)
df2["_2b"] = df2["_2b"].astype(str)
df2["_0b"] = df2["_0b"].apply(lambda x: x.zfill(2))
df2["_1b"] = df2["_1b"].apply(lambda x: x.zfill(2))
df2["_2b"] = df2["_2b"].apply(lambda x: x.zfill(2))

In [15]:
df2.head()

  _0b _1b _2b  rank1  rank2  rank3  range  top_range  bottom_range
0  16  11  10      9      9      8    1.0        0.0           1.0
1  16  10  06      9      9      7    2.0        0.0           2.0
2  16  11  08      9      9      6    3.0        0.0           3.0
3  01  01  01      9      9      5    4.0        0.0           4.0
4  01  00  00      9      9      4    5.0        0.0           5.0

In [16]:

%matplotlib inline
import numpy as np
from sklearn import tree
from graphviz import Source
from sklearn.metrics import accuracy_score
from sklearn.tree import export_graphviz


focus = "_0b"
outputs = ["_0b", "_1b", "_2b"]
max_depth = 3

# X and y
X = df2.drop(outputs, axis=1).values
y = df2[focus].values

for i in range(1,12):
    clf = tree.DecisionTreeClassifier(max_depth=i)
    clf = clf.fit(X, y)
    pred = clf.predict(X)

    final_df = df2.copy()
    final_df['pred_{}'.format(focus)] = pred
    accuracy = accuracy_score(df2[focus].values, pred)
    print("max_depth", i, "accuracy", accuracy)

clf = tree.DecisionTreeClassifier(max_depth=max_depth)
clf = clf.fit(X, y)
pred = clf.predict(X)
# CSV if you want to review results
# final_df.to_csv("output/{}_predictions.csv".format(focus))

# Graph
dot_data = export_graphviz(clf, out_file=None)
graph = Source(dot_data)
graph.render("../reports/figures/CO_RFI_vs_BN_call_{}".format(focus))
graph

max_depth 1 accuracy 0.7262443438914027
max_depth 2 accuracy 0.751131221719457
max_depth 3 accuracy 0.7895927601809954
max_depth 4 accuracy 0.8167420814479638
max_depth 5 accuracy 0.8642533936651584
max_depth 6 accuracy 0.9117647058823529
max_depth 7 accuracy 0.9524886877828054
max_depth 8 accuracy 0.9660633484162896
max_depth 9 accuracy 0.9819004524886877
max_depth 10 accuracy 0.9909502262443439
max_depth 11 accuracy 0.995475113122172

In [17]:
for i, j in zip(df2.drop(outputs, axis=1).columns, range(len(df2.drop(outputs, axis=1).columns))):
    print(j,i)

0 rank1
1 rank2
2 rank3
3 range
4 top_range
5 bottom_range

In [18]:
pd.DataFrame(df2[focus].value_counts()).reset_index().sort_values(by=["index"]).set_index(["index"])

       _0b
index
01     321
02      49
03      14
04       6
05       2
08      17
10       9
13       1
16      23

In [25]:
sqldf("select _0b, _0b - _1b AS diff1, count(*) FROM df2 group by 1,2 order by 1, 3 desc", globals())

   _0b  diff1  count(*)
0   01      0       243
1   01      1        61
2   01     -1        17
3   02      0        46
4   02     -1         2
5   02      1         1
6   03      1        12
7   03      2         2
8   04      1         6
9   05      1         2
10  08      2        17
11  10      4         8
12  10     -1         1
13  13     -1         1
14  16      5        12
15  16      6         8
16  16      2         3

In [26]:
df

            flop board_type  0b  1b  2b    profit
0   [14, 14, 13]   two-tone   0   0   0  1.053372
1   [14, 14, 13]   two-tone   1   1   1  1.684726
2   [14, 14, 13]   two-tone   2   2   2  1.828984
3   [14, 14, 13]   two-tone   3   2   2  2.109554
4   [14, 14, 13]   two-tone   7   5   4  2.162975
5   [14, 14, 13]   two-tone   8   6   4  2.471346
0   [14, 14, 12]   two-tone   0   0   0  0.823880
1   [14, 14, 12]   two-tone   1   1   1  1.513256
2   [14, 14, 12]   two-tone   2   2   2  1.667185
3   [14, 14, 12]   two-tone   3   2   2  1.959040
4   [14, 14, 12]   two-tone   7   5   4  2.038441
5   [14, 14, 12]   two-tone   8   6   4  2.358888
0   [14, 14, 11]   two-tone   0   0   0  1.057651
1   [14, 14, 11]   two-tone   1   1   1  1.741704
2   [14, 14, 11]   two-tone   2   2   2  1.914886
3   [14, 14, 11]   two-tone   3   2   2  2.179763
4   [14, 14, 11]   two-tone   5   4   3  2.210442
5   [14, 14, 11]   two-tone   6   4   3  2.227475
6   [14, 14, 11]   two-tone   7   5   4  2.322562
7   [14, 14, 11]   two-tone   8   6   4  2.601731
0   [14, 14, 10]   two-tone   0   0   0  0.733800
1   [14, 14, 10]   two-tone   1   1   1  1.365565
2   [14, 14, 10]   two-tone   3   2   2  1.794112
3   [14, 14, 10]   two-tone   4   3   2  1.800702
0    [14, 14, 9]   two-tone   0   0   0  0.711463
1    [14, 14, 9]   two-tone   1   1   1  1.094824
2    [14, 14, 9]   two-tone   4   3   2  1.252911
3    [14, 14, 9]   two-tone   5   4   3  1.262717
4    [14, 14, 9]   two-tone   6   4   3  1.273390
5    [14, 14, 9]   two-tone   7   5   4  1.510219
..           ...        ...  ..  ..  ..       ...
0      [5, 5, 3]   two-tone   0   0   0 -0.080111
1      [5, 5, 3]   two-tone   1   1   1  0.370627
0      [5, 5, 2]   two-tone   0   0   0 -0.092456
1      [5, 5, 2]   two-tone   1   1   1  0.347153
0      [5, 4, 4]   two-tone   0   0   0 -0.174479
1      [5, 4, 4]   two-tone   1   1   1  0.525056
0      [5, 4, 3]   two-tone   0   0   0 -0.252444
1      [5, 4, 3]   two-tone   1   1   1  0.555646
0      [5, 4, 2]   two-tone   0   0   0 -0.348331
1      [5, 4, 2]   two-tone   1   1   1  0.430511
0      [5, 3, 3]   two-tone   0   0   0 -0.514584
1      [5, 3, 3]   two-tone   1   1   1 -0.071434
0      [5, 3, 2]   two-tone   0   0   0 -0.745351
1      [5, 3, 2]   two-tone   1   1   1 -0.282467
0      [5, 2, 2]   two-tone   0   0   0 -0.560115
1      [5, 2, 2]   two-tone   1   1   1 -0.123172
0      [4, 4, 3]   two-tone   0   0   0 -0.307828
1      [4, 4, 3]   two-tone   1   1   1  0.134619
0      [4, 4, 2]   two-tone   0   0   0 -0.330545
1      [4, 4, 2]   two-tone   1   1   1  0.093403
0      [4, 3, 3]   two-tone   0   0   0 -0.626596
1      [4, 3, 3]   two-tone   1   1   1 -0.180441
0      [4, 3, 2]   two-tone   0   0   0 -0.360402
1      [4, 3, 2]   two-tone   1   1   1  0.189218
0      [4, 2, 2]   two-tone   0   0   0 -0.685253
1      [4, 2, 2]   two-tone   1   1   1 -0.250266
0      [3, 3, 2]   two-tone   0   0   0 -0.521636
1      [3, 3, 2]   two-tone   1   1   1 -0.094960
0      [3, 2, 2]   two-tone   0   0   0 -0.763774
1      [3, 2, 2]   two-tone   1   1   1 -0.318389

[1365 rows x 6 columns]

In [27]:
df2

    _0b _1b _2b  rank1  rank2  rank3  range  top_range  bottom_range
0    16  11  10      9      9      8    1.0        0.0           1.0
1    16  10  06      9      9      7    2.0        0.0           2.0
2    16  11  08      9      9      6    3.0        0.0           3.0
3    01  01  01      9      9      5    4.0        0.0           4.0
4    01  00  00      9      9      4    5.0        0.0           5.0
5    01  00  00      9      9      3    6.0        0.0           6.0
6    01  00  00      9      9      2    7.0        0.0           7.0
7    16  11  10      9      8      8    1.0        1.0           0.0
8    02  02  02      9      8      7    2.0        1.0           1.0
9    02  02  02      9      8      6    3.0        1.0           2.0
10   02  02  02      9      8      5    4.0        1.0           3.0
11   01  01  01      9      8      4    5.0        1.0           4.0
12   01  01  01      9      8      3    6.0        1.0           5.0
13   01  01  01      9      8      2    7.0        1.0           6.0
14   16  10  06      9      7      7    2.0        2.0           0.0
15   01  01  01      9      7      6    3.0        2.0           1.0
16   01  01  01      9      7      5    4.0        2.0           2.0
17   01  01  02      9      7      4    5.0        2.0           3.0
18   01  01  02      9      7      3    6.0        2.0           4.0
19   01  01  02      9      7      2    7.0        2.0           5.0
20   16  11  12      9      6      6    3.0        3.0           0.0
21   01  01  01      9      6      5    4.0        3.0           1.0
22   01  01  01      9      6      4    5.0        3.0           2.0
23   01  01  01      9      6      3    6.0        3.0           3.0
24   01  01  01      9      6      2    7.0        3.0           4.0
25   16  11  12      9      5      5    4.0        4.0           0.0
26   01  01  01      9      5      4    5.0        4.0           1.0
27   01  01  01      9      5      3    6.0        4.0           2.0
28   01  01  01      9      5      2    7.0        4.0           3.0
29   01  00  00      9      4      4    5.0        5.0           0.0
..   ..  ..  ..    ...    ...    ...    ...        ...           ...
412  01  02  02     10      8      2    8.0        2.0           6.0
413  16  11  10     10      7      7    3.0        3.0           0.0
414  01  01  01     10      7      6    4.0        3.0           1.0
415  01  01  01     10      7      5    5.0        3.0           2.0
416  01  01  01     10      7      4    6.0        3.0           3.0
417  01  01  01     10      7      3    7.0        3.0           4.0
418  01  01  01     10      7      2    8.0        3.0           5.0
419  01  01  01     10      6      6    4.0        4.0           0.0
420  01  01  01     10      6      5    5.0        4.0           1.0
421  01  01  01     10      6      4    6.0        4.0           2.0
422  01  01  01     10      6      3    7.0        4.0           3.0
423  01  01  01     10      6      2    8.0        4.0           4.0
424  01  01  01     10      5      5    5.0        5.0           0.0
425  01  01  01     10      5      4    6.0        5.0           1.0
426  01  01  01     10      5      3    7.0        5.0           2.0
427  01  01  01     10      5      2    8.0        5.0           3.0
428  01  01  01     10      4      4    6.0        6.0           0.0
429  01  01  01     10      4      3    7.0        6.0           1.0
430  01  01  01     10      4      2    8.0        6.0           2.0
431  01  01  01     10      3      3    7.0        7.0           0.0
432  01  01  01     10      3      2    8.0        7.0           1.0
433  01  01  01     10      2      2    8.0        8.0           0.0
434  16  10  06     10     10      9    1.0        0.0           1.0
435  16  10  06     10     10      8    2.0        0.0           2.0
436  01  01  01     10     10      7    3.0        0.0           3.0
437  01  01  01     10     10      6    4.0        0.0           4.0
438  01  00  00     10     10      5    5.0        0.0           5.0
439  01  00  00     10     10      4    6.0        0.0           6.0
440  01  00  00     10     10      3    7.0        0.0           7.0
441  01  00  00     10     10      2    8.0        0.0           8.0

[442 rows x 9 columns]

In [31]:
df2 = sqldf("""select * from df a
        INNER JOIN (select flop, max(profit) AS max_profit from df group by 1) b on
        b.flop = a.flop and a.profit = b.max_profit
       order by 1 desc"""
      ,globals())
df2.columns = ["_" + col for col in df2.columns]

In [35]:
df.columns = ['flop', 'board_type', '_0b', '_1b', '_2b', 'profit']

In [ ]:
df2

In [53]:
df3 = sqldf("""

select a.*, b.max_profit

from df a INNER JOIN (select _flop, _0b, max(_max_profit) AS max_profit from df2 GROUP BY 1,2) b on b._flop = a.flop and a._0b = b._0b
WHERE a._1b = 
        case when (a._0b*0.66) = cast((a._0b*0.66) as int) then cast((a._0b*0.66) as int)
             else 1 + cast((a._0b*0.66) as int)
        end and
      a._2b = 
        case when (a._1b*0.66) = cast((a._1b*0.66) as int) then cast((a._1b*0.66) as int)
             else 1 + cast((a._1b*0.66) as int)
        end        

"""
            
      ,globals())
df3

             flop board_type  _0b  _1b  _2b    profit  max_profit
0    [14, 14, 13]   two-tone    8    6    4  2.471346    2.471346
1    [14, 14, 12]   two-tone    8    6    4  2.358888    2.358888
2    [14, 14, 11]   two-tone    8    6    4  2.601731    2.601731
3    [14, 14, 10]   two-tone    4    3    2  1.800702    1.800702
4     [14, 14, 9]   two-tone    8    6    4  1.743618    1.870385
5     [14, 14, 8]   two-tone    1    1    1  1.019059    1.125161
6     [14, 14, 7]   two-tone    1    1    1  1.006479    1.090914
7     [14, 14, 6]   two-tone    1    1    1  0.975103    1.059658
8     [14, 14, 5]   two-tone    1    1    1  0.920215    1.006872
9     [14, 14, 4]   two-tone    1    1    1  0.889555    0.986971
10    [14, 14, 3]   two-tone    1    1    1  0.889234    0.989590
11    [14, 14, 2]   two-tone    1    1    1  0.877398    0.979073
12   [14, 13, 13]   two-tone    8    6    4  2.682756    2.682756
13   [14, 13, 12]   two-tone    1    1    1  2.721072    2.759428
14   [14, 13, 11]   two-tone    1    1    1  1.922471    1.938380
15   [14, 13, 10]   two-tone    1    1    1  2.882182    2.939464
16    [14, 13, 9]   two-tone    3    2    2  1.927714    1.927714
17    [14, 13, 8]   two-tone    3    2    2  1.892424    1.892424
18    [14, 13, 7]   two-tone    3    2    2  1.939424    1.972498
19    [14, 13, 6]   two-tone    3    2    2  1.924206    1.958914
20    [14, 13, 5]   two-tone    3    2    2  1.852933    1.875802
21    [14, 13, 4]   two-tone    3    2    2  1.889150    1.912793
22    [14, 13, 3]   two-tone    8    6    4  2.015927    2.015927
23    [14, 13, 2]   two-tone    8    6    4  2.006775    2.006775
24   [14, 12, 12]   two-tone    8    6    4  2.502159    2.502159
25   [14, 12, 11]   two-tone    1    1    1  2.202686    2.202686
26   [14, 12, 10]   two-tone    1    1    1  3.314538    3.314538
27    [14, 12, 9]   two-tone    3    2    2  1.838725    1.838725
28    [14, 12, 8]   two-tone    2    2    2  1.772234    1.772234
29    [14, 12, 7]   two-tone    3    2    2  1.672068    1.710297
..            ...        ...  ...  ...  ...       ...         ...
412     [6, 6, 5]   two-tone    1    1    1  0.963501    0.963501
413     [6, 6, 4]   two-tone    1    1    1  0.885289    0.885289
414     [6, 6, 3]   two-tone    1    1    1  0.495901    0.495901
415     [6, 6, 2]   two-tone    1    1    1  0.467353    0.467353
416     [6, 5, 5]   two-tone    1    1    1  0.704567    0.704567
417     [6, 5, 4]   two-tone    1    1    1 -0.781652   -0.781652
418     [6, 5, 3]   two-tone    1    1    1  0.306156    0.306156
419     [6, 5, 2]   two-tone    1    1    1  0.439986    0.439986
420     [6, 4, 4]   two-tone    1    1    1  0.544057    0.544057
421     [6, 4, 3]   two-tone    1    1    1  0.511181    0.511181
422     [6, 4, 2]   two-tone    1    1    1  0.205598    0.205598
423     [6, 3, 3]   two-tone    1    1    1 -0.026683   -0.026683
424     [6, 3, 2]   two-tone    1    1    1 -0.165390   -0.165390
425     [6, 2, 2]   two-tone    1    1    1 -0.081877   -0.081877
426     [5, 5, 4]   two-tone    1    1    1  0.820314    0.820314
427     [5, 5, 3]   two-tone    1    1    1  0.370627    0.370627
428     [5, 5, 2]   two-tone    1    1    1  0.347153    0.347153
429     [5, 4, 4]   two-tone    1    1    1  0.525056    0.525056
430     [5, 4, 3]   two-tone    1    1    1  0.555646    0.555646
431     [5, 4, 2]   two-tone    1    1    1  0.430511    0.430511
432     [5, 3, 3]   two-tone    1    1    1 -0.071434   -0.071434
433     [5, 3, 2]   two-tone    1    1    1 -0.282467   -0.282467
434     [5, 2, 2]   two-tone    1    1    1 -0.123172   -0.123172
435     [4, 4, 3]   two-tone    1    1    1  0.134619    0.134619
436     [4, 4, 2]   two-tone    1    1    1  0.093403    0.093403
437     [4, 3, 3]   two-tone    1    1    1 -0.180441   -0.180441
438     [4, 3, 2]   two-tone    1    1    1  0.189218    0.189218
439     [4, 2, 2]   two-tone    1    1    1 -0.250266   -0.250266
440     [3, 3, 2]   two-tone    1    1    1 -0.094960   -0.094960
441     [3, 2, 2]   two-tone    1    1    1 -0.318389   -0.318389

[442 rows x 7 columns]

In [54]:
df3["diff"] = df3["max_profit"] - df3["profit"]

In [57]:
df3.sort_values(by=["diff"], ascending=False)

             flop board_type  _0b  _1b  _2b    profit  max_profit      diff
355     [9, 5, 5]   two-tone   16   11    8  0.901825    1.129895  0.228070
365     [8, 8, 7]   two-tone   16   11    8  0.129368    0.323274  0.193906
233   [11, 11, 9]   two-tone   13    9    6  2.294759    2.442092  0.147333
4     [14, 14, 9]   two-tone    8    6    4  1.743618    1.870385  0.126766
371     [8, 7, 7]   two-tone   16   11    8  0.479399    0.602660  0.123261
331     [9, 9, 7]   two-tone   16   11    8  0.673093    0.794836  0.121743
249   [11, 10, 2]   two-tone    1    1    1  2.212852    2.321536  0.108683
248   [11, 10, 3]   two-tone    1    1    1  2.176126    2.284376  0.108251
5     [14, 14, 8]   two-tone    1    1    1  1.019059    1.125161  0.106102
344     [9, 7, 7]   two-tone   16   11    8  0.876234    0.980857  0.104623
247   [11, 10, 4]   two-tone    1    1    1  2.122457    2.224486  0.102029
11    [14, 14, 2]   two-tone    1    1    1  0.877398    0.979073  0.101675
10    [14, 14, 3]   two-tone    1    1    1  0.889234    0.989590  0.100356
245   [11, 10, 6]   two-tone    1    1    1  2.095953    2.196140  0.100187
246   [11, 10, 5]   two-tone    1    1    1  2.107394    2.206593  0.099199
9     [14, 14, 4]   two-tone    1    1    1  0.889555    0.986971  0.097416
350     [9, 6, 6]   two-tone   16   11    8  1.170701    1.267335  0.096634
8     [14, 14, 5]   two-tone    1    1    1  0.920215    1.006872  0.086656
131    [13, 9, 9]   two-tone   10    7    5  1.792760    1.879090  0.086330
7     [14, 14, 6]   two-tone    1    1    1  0.975103    1.059658  0.084555
6     [14, 14, 7]   two-tone    1    1    1  1.006479    1.090914  0.084435
369     [8, 8, 3]   two-tone    1    1    1 -0.420037   -0.336625  0.083412
370     [8, 8, 2]   two-tone    1    1    1 -0.436224   -0.352891  0.083333
62     [14, 8, 8]   two-tone    8    6    4  1.191059    1.274114  0.083054
176   [12, 12, 2]   two-tone    1    1    1  0.941482    1.018057  0.076576
336     [9, 9, 2]   two-tone    1    1    1 -0.104692   -0.028538  0.076154
175   [12, 12, 3]   two-tone    1    1    1  0.965578    1.041333  0.075755
335     [9, 9, 3]   two-tone    1    1    1 -0.079011   -0.003982  0.075029
54     [14, 9, 9]   two-tone    8    6    4  1.626719    1.701608  0.074889
293   [10, 10, 2]   two-tone    1    1    1  0.748842    0.821077  0.072235
..            ...        ...  ...  ...  ...       ...         ...       ...
154    [13, 6, 4]   two-tone    1    1    1  1.425126    1.425126  0.000000
153    [13, 6, 5]   two-tone    1    1    1  1.450907    1.450907  0.000000
152    [13, 6, 6]   two-tone    1    1    1  1.348585    1.348585  0.000000
150    [13, 7, 3]   two-tone    1    1    1  0.960412    0.960412  0.000000
149    [13, 7, 4]   two-tone    1    1    1  0.939862    0.939862  0.000000
148    [13, 7, 5]   two-tone    1    1    1  1.390048    1.390048  0.000000
147    [13, 7, 6]   two-tone    1    1    1  1.182679    1.182679  0.000000
143    [13, 8, 4]   two-tone    1    1    1  0.736597    0.736597  0.000000
164    [13, 3, 3]   two-tone    1    1    1  1.128971    1.128971  0.000000
166    [13, 2, 2]   two-tone    1    1    1  1.100476    1.100476  0.000000
204    [12, 8, 8]   two-tone    4    3    2  0.869015    0.869015  0.000000
178  [12, 11, 10]   two-tone    1    1    1  2.292733    2.292733  0.000000
203    [12, 9, 2]   two-tone    1    1    1  1.355499    1.355499  0.000000
202    [12, 9, 3]   two-tone    2    2    2  1.336438    1.336438  0.000000
201    [12, 9, 4]   two-tone    2    2    2  1.315236    1.315236  0.000000
200    [12, 9, 5]   two-tone    2    2    2  1.541698    1.541698  0.000000
199    [12, 9, 6]   two-tone    1    1    1  1.274219    1.274219  0.000000
198    [12, 9, 7]   two-tone    1    1    1  1.263436    1.263436  0.000000
197    [12, 9, 8]   two-tone    1    1    1  1.309789    1.309789  0.000000
196    [12, 9, 9]   two-tone    3    2    2  1.448852    1.448852  0.000000
191   [12, 10, 6]   two-tone    2    2    2  1.959276    1.959276  0.000000
190   [12, 10, 7]   two-tone    1    1    1  1.773042    1.773042  0.000000
189   [12, 10, 8]   two-tone    1    1    1  1.704003    1.704003  0.000000
188   [12, 10, 9]   two-tone    1    1    1  2.347521    2.347521  0.000000
183   [12, 11, 5]   two-tone    1    1    1  1.997822    1.997822  0.000000
182   [12, 11, 6]   two-tone    2    2    2  2.027531    2.027531  0.000000
181   [12, 11, 7]   two-tone    2    2    2  2.029552    2.029552  0.000000
180   [12, 11, 8]   two-tone    2    2    2  2.138036    2.138036  0.000000
179   [12, 11, 9]   two-tone    2    2    2  1.903629    1.903629  0.000000
441     [3, 2, 2]   two-tone    1    1    1 -0.318389   -0.318389  0.000000

[442 rows x 8 columns]

In [60]:
df3["diff"].sum()

6.79741011448005

In [61]:
df3["profit"].sum()

477.92848955470095

CONCLUSION: DO NOT TUNE CAT3 1b, 2b !!! GREAT!.   Use instead the hard code of .66 ceiling (hopefully this applies to all preflop action situations.