## Write to CSV

In [2]:
import os
import pandas as pd
from pandasql import sqldf

range_names = ["00 LJ vs BB 3Bet", "01 LJ vs BB Call", "02 LJ vs HJ 3Bet", "03 LJ vs CO 3Bet", "04 LJ vs BN 3Bet", "05 LJ vs SB 3Bet", "06 LJ vs HJ Call", "07 LJ vs CO Call", "08 LJ vs BN Call", "09 LJ vs SB Call", "10 HJ vs BB 3Bet", "11 HJ vs BB Call", "12 HJ vs CO 3Bet", "13 HJ vs BN 3Bet", "14 HJ vs SB 3Bet", "15 HJ vs CO Call", "16 HJ vs BN Call", "17 HJ vs SB Call", "18 CO vs BB 3Bet", "19 CO vs BB Call", "20 CO vs BN 3Bet", "21 CO vs SB 3Bet", "22 CO vs BN Call", "23 CO vs SB Call", "24 BN vs BB 3Bet", "25 BN vs BB Call", "26 BN vs SB 3Bet", "27 SB vs BB 3Bet", "28 SB vs BB Call", "29 BB 3Bet vs LJ", "30 BB Call vs LJ", "31 HJ 3Bet vs LJ", "32 CO 3Bet vs LJ", "33 BN 3Bet vs LJ", "34 SB 3Bet vs LJ", "35 HJ Call vs LJ", "36 CO Call vs LJ", "37 BN Call vs LJ", "38 SB Call vs LJ", "39 BB 3Bet vs HJ", "40 BB Call vs HJ", "41 CO 3Bet vs HJ", "42 BN 3Bet vs HJ", "43 SB 3Bet vs HJ", "44 CO Call vs HJ", "45 BN Call vs HJ", "46 SB Call vs HJ", "47 BB 3Bet vs CO", "48 BB Call vs CO", "49 BN 3Bet vs CO", "50 SB 3Bet vs CO", "51 BN Call vs CO", "52 SB Call vs CO", "53 BB 3Bet vs BN", "54 BB Call vs BN", "55 SB 3Bet vs BN", "56 BB 3Bet vs SB", "57 BB Call vs SB",]
board_type = "two-tone"   # two-tone, rainbow, monotone

for range_name in range_names:    
    df2 = None
    dfs = []
    for i in range(500):
        try:
            dfs.append(pd.read_csv("../reports/{}/{}/{}.csv".format(range_name, board_type, str(i).zfill(3))).drop(["Unnamed: 0"], axis=1))
        except:
            pass
    df = pd.concat(dfs, axis=0)
    df2 = sqldf("""select * from df a
            INNER JOIN (select flop, board_type, max(profit) AS max_profit from df group by 1,2) b on
            b.flop = a.flop and b.board_type = a.board_type and a.profit = b.max_profit
           order by 1 desc"""
          ,globals())
    try:
        os.mkdir("../reports/condensed_results/{}".format(board_type))
    except:
        pass
    df2.to_csv("../reports/condensed_results/{}/{}.csv".format(board_type, range_name))
    df2.head()

ValueError: No objects to concatenate

## Check Average Profit Per Situation

Tighten up ranges of the negative values proportional to their negative value

In [23]:
averages = []
try:
    for range_name in range_names:
        df = pd.read_csv("../reports/condensed_results/two-tone/{}.csv".format(range_name))
        df = df[['profit']]
        averages.append(df.mean()['profit'])
except:
    pass
averages

[3.779741652415367,
 1.6097499101922377,
 -5.126884541070893,
 -5.126749803336997,
 -3.0551769819976236,
 4.772106450011192,
 0.9686143821104387,
 1.0032170903549864,
 1.2137343183527276,
 1.5610827597855288,
 3.6304850709516803,
 1.7900667650582234,
 -1.4216406386266354,
 0.3980184934021703,
 4.988090433115355,
 0.8450216802810219,
 1.0445137050191602,
 1.7968489762830016,
 5.227868571142115,
 2.0733732111219627,
 1.6136971409207848,
 5.730962373230267,
 1.1110017149966913,
 2.1655882609683648,
 5.723281873378416,
 2.049173730688076,
 6.470934612120427,
 0.9446206598989962,
 0.9162923076168576,
 6.589008132308526,
 1.0857188004216343,
 6.154804199200054,
 6.154875239095216,
 4.772775768687437,
 5.521834091373802,
 2.736075188250723,
 2.7473178364449646,
 2.826855150793056,
 1.433243255425964,
 5.905693246979601,
 1.135061360353408,
 4.95351122535019,
 4.736513138070179,
 4.662502938689427]

## Read from CSV

In [24]:
for range_name in range_names:
    df = pd.read_csv("../reports/condensed_results/two-tone/{}.csv".format(range_name))
    df["rank1"] = df["flop"].apply(lambda x: x.replace("[","").replace("]","").split(",")[0]).astype(int)
    df["rank2"] = df["flop"].apply(lambda x: x.replace("[","").replace("]","").split(",")[1]).astype(int)
    df["rank3"] = df["flop"].apply(lambda x: x.replace("[","").replace("]","").split(",")[2]).astype(int)
    df.sort_values(by=["rank1", "rank2", "rank3"], inplace=True, ascending=False)
    df = df[['rank1', 'rank2', 'rank3', '0b']]
    break
df

     rank1  rank2  rank3  0b
156     14     14     13  16
157     14     14     12  16
158     14     14     11  15
159     14     14     10  15
148     14     14      9  16
149     14     14      8  16
150     14     14      7  16
151     14     14      6  16
152     14     14      5  16
153     14     14      4  16
154     14     14      3  16
155     14     14      2  16
168     14     13     13  16
169     14     13     12  15
170     14     13     11  15
171     14     13     10  15
160     14     13      9  15
161     14     13      8  15
162     14     13      7  16
163     14     13      6  16
164     14     13      5  16
165     14     13      4  16
166     14     13      3  16
167     14     13      2  16
180     14     12     12  16
181     14     12     11  15
182     14     12     10  15
172     14     12      9  15
173     14     12      8  15
174     14     12      7  16
..     ...    ...    ...  ..
82       6      6      5  16
83       6      6      4  16
84       6      6      3  16
85       6      6      2  16
86       6      5      5  16
87       6      5      4  16
88       6      5      3  16
89       6      5      2  16
90       6      4      4  16
91       6      4      3  16
92       6      4      2  16
93       6      3      3  16
94       6      3      2  16
95       6      2      2  16
96       5      5      4  16
97       5      5      3  16
98       5      5      2  16
99       5      4      4  16
100      5      4      3  16
101      5      4      2  16
102      5      3      3  16
103      5      3      2  16
104      5      2      2  16
105      4      4      3  16
106      4      4      2  16
107      4      3      3  16
108      4      3      2  16
109      4      2      2  16
110      3      3      2  16
111      3      2      2  16

[442 rows x 4 columns]