In [13]:
range_names = ["00 LJ vs BB 3Bet", "01 LJ vs BB Call", "02 LJ vs HJ 3Bet", "03 LJ vs CO 3Bet", "04 LJ vs BN 3Bet", "05 LJ vs SB 3Bet", "06 LJ vs HJ Call", "07 LJ vs CO Call", "08 LJ vs BN Call", "09 LJ vs SB Call", "10 HJ vs BB 3Bet", "11 HJ vs BB Call", "12 HJ vs CO 3Bet", "13 HJ vs BN 3Bet", "14 HJ vs SB 3Bet", "15 HJ vs CO Call", "16 HJ vs BN Call", "17 HJ vs SB Call", "18 CO vs BB 3Bet", "19 CO vs BB Call", "20 CO vs BN 3Bet", "21 CO vs SB 3Bet", "22 CO vs BN Call", "23 CO vs SB Call", "24 BN vs BB 3Bet", "25 BN vs BB Call", "26 BN vs SB 3Bet", "27 SB vs BB 3Bet", "28 SB vs BB Call", "29 BB 3Bet vs LJ", "30 BB Call vs LJ", "31 HJ 3Bet vs LJ", "32 CO 3Bet vs LJ", "33 BN 3Bet vs LJ", "34 SB 3Bet vs LJ", "35 HJ Call vs LJ", "36 CO Call vs LJ", "37 BN Call vs LJ", "38 SB Call vs LJ", "39 BB 3Bet vs HJ", "40 BB Call vs HJ", "41 CO 3Bet vs HJ", "42 BN 3Bet vs HJ", "43 SB 3Bet vs HJ", "44 CO Call vs HJ", "45 BN Call vs HJ", "46 SB Call vs HJ", "47 BB 3Bet vs CO", "48 BB Call vs CO", "49 BN 3Bet vs CO", "50 SB 3Bet vs CO", "51 BN Call vs CO", "52 SB Call vs CO", "53 BB 3Bet vs BN", "54 BB Call vs BN", "55 SB 3Bet vs BN", "56 BB 3Bet vs SB", "57 BB Call vs SB",]
range_name = range_names[34]
board_type = "two-tone"   # two-tone, rainbow, monotone

In [18]:
import os
import pandas as pd
from pandasql import sqldf
for range_name in range_names:
    df2 = None
    dfs = []
    for i in range(500):
        try:
            dfs.append(pd.read_csv("../reports/{}/{}/{}.csv".format(range_name, board_type, str(i).zfill(3))).drop(["Unnamed: 0"], axis=1))
        except:
            pass
    df = pd.concat(dfs, axis=0)
    df2 = sqldf("""select * from df a
            INNER JOIN (select flop, board_type, max(profit) AS max_profit from df group by 1,2) b on
            b.flop = a.flop and b.board_type = a.board_type and a.profit = b.max_profit
           order by 1 desc"""
          ,globals())
    try:
        os.mkdir("../reports/condensed_results/{}".format(board_type))
    except:
        pass
    df2.to_csv("../reports/condensed_results/{}/{}.csv".format(board_type, range_name))
    df2.head()

ValueError: No objects to concatenate

In [3]:
df2

            flop board_type  0b  1b  2b    profit         flop  max_profit
0      [9, 9, 8]   two-tone  16  11  10  1.333732    [9, 9, 8]    1.333732
1      [9, 9, 7]   two-tone  16  10   6  0.794836    [9, 9, 7]    0.794836
2      [9, 9, 6]   two-tone  16  11   8  0.626392    [9, 9, 6]    0.626392
3      [9, 9, 5]   two-tone   1   1   1  0.408262    [9, 9, 5]    0.408262
4      [9, 9, 4]   two-tone   1   0   0  0.024684    [9, 9, 4]    0.024684
5      [9, 9, 3]   two-tone   1   0   0 -0.003982    [9, 9, 3]   -0.003982
6      [9, 9, 2]   two-tone   1   0   0 -0.028538    [9, 9, 2]   -0.028538
7      [9, 8, 8]   two-tone  16  11  10  1.080869    [9, 8, 8]    1.080869
8      [9, 8, 7]   two-tone   2   2   2  0.395880    [9, 8, 7]    0.395880
9      [9, 8, 6]   two-tone   2   2   2  0.250720    [9, 8, 6]    0.250720
10     [9, 8, 5]   two-tone   2   2   2  0.128235    [9, 8, 5]    0.128235
11     [9, 8, 4]   two-tone   1   1   1  0.172143    [9, 8, 4]    0.172143
12     [9, 8, 3]   two-tone   1   1   1  0.205839    [9, 8, 3]    0.205839
13     [9, 8, 2]   two-tone   1   1   1  0.236503    [9, 8, 2]    0.236503
14     [9, 7, 7]   two-tone  16  10   6  0.980857    [9, 7, 7]    0.980857
15     [9, 7, 6]   two-tone   1   1   1  0.319124    [9, 7, 6]    0.319124
16     [9, 7, 5]   two-tone   1   1   1  0.126123    [9, 7, 5]    0.126123
17     [9, 7, 4]   two-tone   1   1   2  0.006604    [9, 7, 4]    0.006604
18     [9, 7, 3]   two-tone   1   1   2  0.028805    [9, 7, 3]    0.028805
19     [9, 7, 2]   two-tone   1   1   2  0.036340    [9, 7, 2]    0.036340
20     [9, 6, 6]   two-tone  16  11  12  1.267335    [9, 6, 6]    1.267335
21     [9, 6, 5]   two-tone   1   1   1 -0.761131    [9, 6, 5]   -0.761131
22     [9, 6, 4]   two-tone   1   1   1  0.381470    [9, 6, 4]    0.381470
23     [9, 6, 3]   two-tone   1   1   1  0.398350    [9, 6, 3]    0.398350
24     [9, 6, 2]   two-tone   1   1   1  0.408449    [9, 6, 2]    0.408449
25     [9, 5, 5]   two-tone  16  11  12  1.129895    [9, 5, 5]    1.129895
26     [9, 5, 4]   two-tone   1   1   1  0.567493    [9, 5, 4]    0.567493
27     [9, 5, 3]   two-tone   1   1   1  0.557269    [9, 5, 3]    0.557269
28     [9, 5, 2]   two-tone   1   1   1  0.567836    [9, 5, 2]    0.567836
29     [9, 4, 4]   two-tone   1   0   0  0.303323    [9, 4, 4]    0.303323
..           ...        ...  ..  ..  ..       ...          ...         ...
412   [10, 8, 2]   two-tone   1   2   2  0.779364   [10, 8, 2]    0.779364
413   [10, 7, 7]   two-tone  16  11  10  1.241737   [10, 7, 7]    1.241737
414   [10, 7, 6]   two-tone   1   1   1  0.148481   [10, 7, 6]    0.148481
415   [10, 7, 5]   two-tone   1   1   1  1.238926   [10, 7, 5]    1.238926
416   [10, 7, 4]   two-tone   1   1   1  1.226567   [10, 7, 4]    1.226567
417   [10, 7, 3]   two-tone   1   1   1  1.261000   [10, 7, 3]    1.261000
418   [10, 7, 2]   two-tone   1   1   1  1.289151   [10, 7, 2]    1.289151
419   [10, 6, 6]   two-tone   1   1   1  1.618473   [10, 6, 6]    1.618473
420   [10, 6, 5]   two-tone   1   1   1  1.485691   [10, 6, 5]    1.485691
421   [10, 6, 4]   two-tone   1   1   1  1.456719   [10, 6, 4]    1.456719
422   [10, 6, 3]   two-tone   1   1   1  1.664315   [10, 6, 3]    1.664315
423   [10, 6, 2]   two-tone   1   1   1  1.687300   [10, 6, 2]    1.687300
424   [10, 5, 5]   two-tone   1   1   1  1.249217   [10, 5, 5]    1.249217
425   [10, 5, 4]   two-tone   1   1   1  1.375642   [10, 5, 4]    1.375642
426   [10, 5, 3]   two-tone   1   1   1  0.798040   [10, 5, 3]    0.798040
427   [10, 5, 2]   two-tone   1   1   1  0.809490   [10, 5, 2]    0.809490
428   [10, 4, 4]   two-tone   1   1   1  1.092563   [10, 4, 4]    1.092563
429   [10, 4, 3]   two-tone   1   1   1  0.744791   [10, 4, 3]    0.744791
430   [10, 4, 2]   two-tone   1   1   1  0.736377   [10, 4, 2]    0.736377
431   [10, 3, 3]   two-tone   1   1   1  0.987574   [10, 3, 3]    0.987574
432   [10, 3, 2]   two-tone   1   1   1  0.706291   [10, 3, 2]    0.706291
433   [10, 2, 2]   two-tone   1   1   1  0.955845   [10, 2, 2]    0.955845
434  [10, 10, 9]   two-tone  16  10   6  1.727301  [10, 10, 9]    1.727301
435  [10, 10, 8]   two-tone  16  10   6  1.028035  [10, 10, 8]    1.028035
436  [10, 10, 7]   two-tone   1   1   1  1.198875  [10, 10, 7]    1.198875
437  [10, 10, 6]   two-tone   1   1   1  1.440323  [10, 10, 6]    1.440323
438  [10, 10, 5]   two-tone   1   0   0  0.921673  [10, 10, 5]    0.921673
439  [10, 10, 4]   two-tone   1   0   0  0.865598  [10, 10, 4]    0.865598
440  [10, 10, 3]   two-tone   1   0   0  0.837290  [10, 10, 3]    0.837290
441  [10, 10, 2]   two-tone   1   0   0  0.821077  [10, 10, 2]    0.821077

[442 rows x 8 columns]

([], [([12, 11], 4)], [([12, 11], 12)])